textarea:focus {
  outline: 0 none;
}
.form-control:focus {
  outline: 0 none;
}
input,
textarea,
button {
  outline: none;
}

.card {
  margin: 15px;
}
.body {
}
.container::-webkit-scrollbar {
  width: 5px;
  /*border-radius: 5px;*/
  /*color: blue;*/
  background-color: white;
}

.card-group {
}

.container::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px grey;
}
